/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins");

/* Global */
/** {
  margin: 0;
  padding: 0;
  border: 0;
}*/

body {
  background-color: #4e4b4b;
  color: rgb(244, 241, 237);
  font-family: sans-serif;
}

.estrutura-geral {
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
  /*flex-wrap: wrap;*/
  /*padding: 30px 0 0 30px;*/
}

.logo {
  /*padding-left: 10px;*/
  justify-content: flex-start;
}

.menu {
  justify-content: flex-end;
}

h1 {
  padding: 40px 0px 50px 0px;
}

.header-entrance {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
}

.container-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  color: rgb(244, 241, 237);
}

.reception {
  max-width: 970px;
  padding-top: 10px;
}

.menu-container {
  display: flex;
  justify-content: center;
}

/*Segunda parte*/

.stage-two {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.sobre-livraria {
  display: flex;
  justify-content: center;
}

.garota-retrato {
  float: left;
  max-width: 400px;
}

.texto {
  float: right;
  vertical-align: top;
  max-width: 300px;
  padding-left: 10px;
}

.segundo-titulo {
  font-size: 40px;
}

/*Terceira parte*/

.stage-three {
}

.open-text {
}

.button {
}

.entrada {
}

.visit {
  max-width: 300px;
}
