/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vh;
  height: 100vh;
  background-image: url("./assets/image/entrance.jpg");
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("./assets/image/shelf.jpg");
}
