/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4e4b4b;
  color: rgb(244, 241, 237);
}
.logo {
  padding-left: 10px;
}

h1 {
  padding: 40px 0px 0px 10px;
}

header {
  width: 150vh;
  height: 100vh;
  color: rgb(244, 241, 237);
}

.reception {
  max-width: 970px;
  padding-top: 10px;
}

.announcement {
  max-width: 300px;
  padding-top: 30px;
  display: flex;
  align-items: left;
  position: absolute;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

img {
  padding-left: 10px;
  max-width: 100%;
  max-height: 40%;
}

.about {
  display: inline-block;
  flex-direction: column;
  max-width: 300px;
}

.meet {
  display: inline-block;
  flex-direction: column;
  max-width: 300px;
}

.variedades {
  display: inline-block;
  flex-direction: column;
  max-width: 300px;
}
