/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import "assets/css/reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4e4b4b;
  color: rgb(244, 241, 237);
  font-family: sans-serif;
}

h1 {
  font-size: 3em;
}

.logo {
  font-size: 1.5em;
}

ul {
  list-style: none;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #727270;
  border-radius: 8px;
  max-width: 100%;
  padding: 5vh 10vh;
  margin: 5px;
}

.nav-options {
  padding-left: 10vh;
}

.nav-container .nav-options {
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;
}

.menu > li {
  position: relative;
}

.menu > li a {
  padding: 17px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.menu > li:hover {
  background: #646465;
}
.header {
  display: flex;
  justify-content: center;
}

.header .reception {
  display: flex;
  justify-content: center;
  width: 70vmax;
}

.about {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait-girl {
  width: 30vmax;
}

.about .text {
  max-width: 37vmax;
  padding-left: 30px;
}

.comics {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brochure {
  width: 30vmax;
}

.comics .text {
  max-width: 37vmax;
  padding-left: 30px;
}

.depositions {
  background-color: #646465;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 5vh 5vh;
}

.first-line {
  max-width: 36vmax;
}

.first-line .opinion {
  font-size: 2em;
  max-width: 36vmax;
}

.second-line {
  max-width: 36vmax;
}

.second-line .opinion {
  font-size: 2em;
  max-width: 36vmax;
}
